.turn-off-button {
  position: absolute;
  z-index: 100;
  bottom: 1%;
  right: 2%;
  width: 170px;
  height: 40px;
  transition: all 0.1s;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid transparent;
  padding: 3px;
  box-sizing: border-box;
  border-radius: 3px;
  cursor: pointer;
}

.turn-off-button span {
  font-size: 16px;
  font-weight: lighter;
  color: rgb(234, 241, 244);
  text-shadow: 0.5px 0.5px 0.5px rgb(91, 154, 226);
}

.turn-off-button:hover {
  background-color: rgb(48, 104, 192);
}

.turn-off-button:active {
  filter: brightness(1.1);
}

.turn-off-window {
  position: absolute;
  z-index: 11100;
  width: 100%;
  height: 100%;
  background-color: transparent;
  backdrop-filter: grayscale(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: turnOff 5s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}

.turn-off-window-container {
  height: 300px;
  width: 500px;
  background-color: rgb(28, 84, 172);
}

@keyframes turnOff {
  0% {
    backdrop-filter: grayscale(0%);
  }

  100% {
    backdrop-filter: grayscale(100%);
  }
}
