.file-task-item {
  width: 100%;
  height: 20px;
  transition: all 0.2s;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  padding-left: 10px;
  margin-bottom: 5px;
  font-size: 0.9rem;
  font-family: 'Roboto', sans-serif;
  color: rgb(50, 105, 200);
  text-shadow: 0.5px 0.5px 0.1px rgb(140, 172, 220),
    -0.5px -0.5px 0.1px rgb(140, 172, 220);
}

.file-task-item-title:hover {
  color: rgb(90, 155, 250);
  text-decoration: underline;
  cursor: pointer;
}
