.turn-off-button {
  position: absolute;
  z-index: 100;
  bottom: 1%;
  right: 2%;
  width: 170px;
  height: 40px;
  transition: all 0.1s;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid transparent;
  padding: 3px;
  box-sizing: border-box;
  border-radius: 3px;
  cursor: pointer;
}

.turn-off-button span {
  font-size: 16px;
  font-weight: lighter;
  color: rgb(234, 241, 244);
  text-shadow: 0.5px 0.5px 0.5px rgb(91, 154, 226);
}

.turn-off-button:hover {
  background-color: rgb(48, 104, 192);
}

.turn-off-button:active {
  filter: brightness(1.1);
}

.turn-off-window {
  position: absolute;
  z-index: 11100;
  width: 100%;
  height: 100%;
  background-color: transparent;
  backdrop-filter: grayscale(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: turnOff 5s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}

.turn-off-window-container > .top {
  background-color: rgb(0, 48, 152);
  width: 100%;
  height: 20%;
  color: rgb(248, 252, 248);
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  position: relative;
  text-shadow: 0.5px 0.5px 0.5px rgba(100, 100, 100, 0.6),
    -0.5px -0.5px 0.5px rgba(100, 100, 100, 0.6);
}
.turn-off-window-container > .bottom {
  background-color: rgb(0, 48, 152);
  width: 100%;
  height: 20.5%;
}
.turn-off-window-container > .divider-one {
  background: linear-gradient(
    to right,
    rgb(86, 127, 219),
    rgb(186, 226, 255) 45%,
    rgb(90, 126, 220) 95%
  );
  width: 100%;
  height: 1%;
}
.turn-off-window-container > .divider-two {
  background: linear-gradient(
    to right,
    rgb(86, 127, 219),
    /* rgb(186, 226, 255) 25%, */ rgb(90, 126, 220) 95%
  );
  width: 100%;
  height: 0.5%;
}
.turn-off-window-container > .middle {
  background: radial-gradient(circle, rgb(152, 184, 240), rgb(88, 124, 216));
  width: 100%;
  height: 58%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
}

.turn-off-window-container > .bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  box-sizing: border-box;
}

.turn-off-cancel-button {
  width: 70px;
  height: 25px;
  font-family: 'Roboto', sans-serif;
  border-width: 1.5px;
  border-style: solid;
  border-color: rgb(25, 79, 126) rgb(70, 111, 145) rgb(21, 75, 120)
    rgb(2, 60, 115);
  border-radius: 3px;
  background-color: rgb(240, 240, 232);
  box-shadow: 0px 0.5px 0px 0.5px rgba(134, 161, 190, 0.9),
    0.5px 0px 0px 0.5px rgba(24, 76, 144, 0.9);
  text-shadow: 0 0 1px rgba(120, 120, 120, 1);
  transition: all 0.1s;
}

.turn-off-cancel-button:hover {
  box-shadow: 0px 0.5px 0px 0.5px rgba(134, 161, 190, 0.9),
    0.5px 0px 0px 0.5px rgba(24, 76, 144, 0.9),
    0px -1.5px 2px 0px rgba(200, 140, 10, 1) inset;
}

.turn-off-cancel-button:active {
  box-shadow: 0px 0.5px 0px 0.5px rgba(134, 161, 190, 0.9),
    0.5px 0px 0px 0.5px rgba(24, 76, 144, 0.9),
    0px -1.5px 2px 0px rgba(200, 140, 10, 1) inset;
  filter: brightness(0.9);
}

.turn-off-window-container {
  height: 300px;
  width: 500px;
  border: 1.5px solid rgb(0, 14, 46);
  box-shadow: 0px 0px 0px 1px rgba(0, 14, 46, 0.3);
  background-color: lightyellow;
}

.turn-off-button-icon {
  height: 30%;
  width: auto;
  transition: all 0.1s;
  position: relative;
  cursor: pointer;
}
.turn-off-button-text {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  color: rgb(248, 252, 248);
  text-shadow: 1px 0px 1px rgba(193, 212, 244, 0.6),
    -1px 0px 1px rgba(193, 212, 244, 0.6);
  position: absolute;
  text-wrap: nowrap;
  left: 0;
  bottom: -70%;
  left: 50%;
  translate: -50%;
  font-weight: 500;
}
.turn-off-button-icon:hover {
  filter: brightness(1.1);
}

.turn-off-button-icon:active {
  filter: brightness(1.2);
}

.turn-off-button-tooltip {
  position: absolute;
  border: 1.5px solid rgb(7, 7, 7);
  border-radius: 5px;
  padding: 5px 10px;
  top: 170%;
  left: 0;
  background-color: rgb(248, 252, 224);
  z-index: 100000;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.7);
}
.turn-off-button-tooltip-title {
  text-wrap: nowrap;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}
.turn-off-button-tooltip-text {
  text-wrap: nowrap;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
}

@keyframes turnOff {
  0% {
    backdrop-filter: grayscale(0%);
  }

  100% {
    backdrop-filter: grayscale(100%);
  }
}
