@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body {
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.window {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid black;
  background-color: yellow;
  position: relative;
  overflow: hidden;
}

/* .item {
  height: 500px;
  width: 600px;
  box-sizing: border-box;
  border: 1px solid black;
  cursor: -webkit-grabbing;
  position: absolute;
  resize: both;
  overflow: auto;
  min-height: 500px;
  min-width: 500px;
} */

.MuiTooltip-popper {
  color: blue;
}
