@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body {
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.window-enter {
  opacity: 0;
}

.window-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.window-exit {
  opacity: 1;
}

.window-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.task:hover {
  background-color: black;
  filter: contrast(1.2);
}

.project-navigation {
  width: 95%;
  aspect-ratio: 1 / 1;
  margin-top: 3.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7px;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 5px;
}

.project-navigation:hover {
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(245, 245, 240) important;
}
