.folder-window-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.topbar {
  height: 35px;
  width: 100%;
  background-color: rgb(240, 240, 232);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 10px;
}

.navbar {
  height: 50px;
  width: 100%;
  background-color: rgb(240, 240, 232);
  border-width: 2px 0px;
  border-style: solid;
  border-color: rgb(226, 221, 203);
  box-shadow: 0px 1px 0px 1px rgb(247, 251, 246) inset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 5px;
  padding-left: 2px;
}

.address-bar {
  height: 35px;
  width: 100%;
  background-color: rgb(240, 240, 232);
  box-sizing: border-box;
  border-top: 2px solid rgb(247, 251, 246);
  display: flex;
  position: relative;
}

.main-area {
  height: calc(100% - 120px);
  width: 100%;
  box-sizing: border-box;
  display: flex;
}

.sidebar {
  height: 100%;
  width: 20%;
  min-width: 200px;
  background: linear-gradient(
    180deg,
    rgb(125, 162, 230) 0%,
    rgb(98, 118, 215) 100%
  );
  border-right: 1px solid rgb(247, 251, 246);
  box-sizing: border-box;
  border-width: 0px 0px 2px 2px;
  border-style: solid;
  border-color: transparent rgb(209, 222, 241) transparent rgb(231, 236, 246);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-top: 20px;
}

.sidebar-item {
  border: 1px solid rgb(162, 188, 237);
  border-radius: 8px 8px 0 0;
  width: 86%;
  flex-direction: column;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  transition: all 0.2s;
}

.sidebar-item-title {
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  text-shadow: 0.5px 0.5px 0.5px rgb(140, 172, 220);
  color: #205cc0;
  padding-top: 2px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  border-radius: 8px 8px 0 0;
  background: linear-gradient(
    90deg,
    rgb(248, 252, 248) 30%,
    rgb(192, 212, 230) 100%
  );
  width: 100%;
  height: 30px;
  transition: all 0.1s;
  position: relative;
}

.sidebar-item-details {
  width: 100%;
  height: 40px;
  transition: all 0.2s;
  overflow: hidden;
  background-color: rgb(208, 220, 240);
  border-color: rgb(231, 236, 246);
  border-width: 0px 1.5px 1.5px 1.5px;
  border-style: solid;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar-item-details-hidden {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 0px 1.5px 1.5px 1.5px;
  border-color: rgb(231, 236, 246);
  box-sizing: border-box;
  width: 100%;
  height: 0px;
  overflow: hidden;
  transition: all 0.2s;
  background-color: rgb(208, 220, 240);
}

.sidebar-item-arrow {
  height: 70%;
  aspect-ratio: 1/1;
  box-shadow: 0 0 1px 0 rgb(186, 193, 226), 0 0 1px 0 rgb(186, 193, 226) inset,
    2px 2px 2px 0 rgb(186, 193, 226);
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 252, 248);
  transition: all 0.2s;
}

.sidebar-item-title:hover {
  color: #4992f8;
}

.folder-area {
  height: 100%;
  flex: 1;
}

.logo-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  background-color: rgb(248, 252, 248);
  border-left: 2px solid rgb(219, 212, 190);
  position: absolute;
  right: 0;
}

.back-button {
  height: 95%;
  width: 92px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  gap: 7px;
  border: 1px solid transparent;
  border-width: 1px 1.5px 1.5px 1px;
  color: rgb(24, 24, 24);
}

.forward-button {
  height: 95%;
  width: 55px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  gap: 7px;
  border: 1px solid transparent;
  border-width: 1px 1.5px 1.5px 1px;
  margin-right: 10px;
}

.back-arrow {
  height: 70%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(102, 192, 40);
  box-shadow: 0 0 1px 0 rgb(20, 87, 15);
  border-radius: 50%;
}

.back-text {
  font-size: 14px;
  font-weight: 500;
  text-shadow: 0 0 0.5px rgb(68, 68, 68);
  font-weight: 100;
  font-family: 'winXP';
}

.arrow-down {
  height: 100%;
  display: flex;
  align-items: center;
}

.vertical-divider {
  height: 90%;
  width: 1px;
  background-color: rgb(204, 200, 174);
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(222, 220, 208) rgb(229, 232, 225) rgb(223, 225, 215)
    rgb(222, 224, 213);
}

.button-disabled {
  filter: grayscale(100%);
  opacity: 0.5;
}
.button-disabled:hover {
  cursor: not-allowed;
}
.views {
  height: 90%;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 1px solid transparent;
  border-width: 1px 1.5px 1.5px 1px;
}

.hover {
  background: linear-gradient(rgb(250, 250, 250), rgb(240, 240, 232));
  border-width: 1px 1.5px 1.5px 1px;
  border-style: solid;
  border-color: rgb(205, 209, 198);
  border-radius: 5px;
  position: relative;
  box-shadow: 0 0 0 1px rgb(230, 230, 220) inset;
  transition: all 0.1s;
}

.hover:active {
  background: rgb(224, 228, 216);
  color: rgb(241, 244, 238);
}

.label {
  width: 65px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.1px;
  font-size: 14px;
  font-weight: 100;
  font-family: 'winXP';
  background-color: rgb(232, 236, 232);
  border-bottom: 1.5px solid rgb(206, 206, 190);
  box-sizing: border-box;
  color: rgb(131, 135, 123);
  text-shadow: 0 0 1px rgb(202, 206, 194);
}

.address-button {
  height: 100%;
  width: 80px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  gap: 8px;
  position: absolute;
  right: 0;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-width: 1px 1.5px 1.5px 1px;
  border-bottom: 1.5px solid rgb(206, 206, 190);
}
.address-button:hover {
  border-radius: 0;
}

.address-arrow {
  height: 70%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(102, 192, 40);
  box-shadow: 0 0 1px 0 rgb(20, 87, 15);
  border-radius: 5px;
}

.address-area {
  height: 100%;
  width: calc(100% - 145px);
  background-color: white;
  border-color: rgb(133, 166, 190) rgb(133, 166, 190) rgb(158, 185, 203)
    rgb(133, 166, 190);
  border-width: 1px;
  border-style: solid;
  box-shadow: 0 0 1.5px 0 rgb(230, 230, 220);
  box-sizing: border-box;
  display: flex;
  gap: 5px;
  align-items: center;
  padding-left: 10px;
  text-shadow: 0px 0px 1px rgb(40, 32, 20);
}

.topbar-title {
  font-size: 14px;
  font-weight: 500;
  font-family: 'winXP';
  color: rgb(24, 24, 24);
  padding: 0.2rem 0.5rem;
  text-shadow: 0 0 0.6px rgb(20, 20, 20);
  transition: all 0.1s;
  box-sizing: border-box;
  position: relative;
}

.topbar-title:hover {
  background-color: rgb(48, 104, 192);
  color: rgb(228, 237, 242);
  text-shadow: 0 0 0.6px rgb(148, 178, 220);
}

.topbar-tooltip {
  border: 1px solid rgb(25, 25, 25);
  background-color: rgb(248, 252, 224);
  color: rgb(8, 8, 8);
  padding: 0.1rem 0.4rem;
  box-shadow: 2px 2px 5px 0 rgb(45, 45, 45);
  position: absolute;
  text-wrap: nowrap;
  bottom: -25px;
  left: 0;
  animation: fadeIn 0.6s;
  z-index: 200;
}

.folder-area {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
  align-content: flex-start;
}
